@charset "utf-8";

nav{
background-color:black;
padding:15px;
font-size:25px;
opacity:0.8;

}
body{
	background:url('Images/Landing Page.jpg') no-repeat center center fixed;
	background-size:cover;
	
}
.navbar a:hover{
color:#15f4ea;
transition:0.3s ease-out;	
}
ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

ul li ul li{
	display:none;

}
ul li:hover ul li{
	position:relative;
	display:block;
	background-color:black;
	opacity:0.8;
	margin:2px;
}
ul li ul li a{
	display:block;	
}
ul li:hover{
	color:#15f4ea;
	transition:0.3s ease-out;
}


ul li{
	display:inline-block;
	line-height:40px;
	text-align:center;
	float:left;
}
nav a {
	display:inline-block;
text-decoration:none;
color:white;
margin:14px;

}
.LogoNav{
height:auto;
width:21em;
left:0px;
vertical-align:middle;
margin-left: 5.5em;
}

.fa-solid{
	color:white;
	margin-left:56.5em;
	margin-top:-4em;
	vertical-align:middle;
}

.fa-magnifying-glass{
	color:white;
	margin-left:53.5em;
	margin-top:-6.2em;
	width:10px;
	
}
.fa-magnifying-glass:hover{
	transition:0.3s ease-out;
	color:red;
}

.ImageHoodie{
	
}

.Caption{
	text-align:center;	
	margin-top:22.5em;
}

#ShopButton{
		border-radius:4px;
	background-color:white;
	border:4px;
	border-color:black;
	font-size:1rem;
	color:black;
	width:150px;
	padding:5px;
	
}

#ShopButton:hover{
	color:white;
	transition:0.3s ease-out;
	cursor:pointer;
	background-color:black;
}

.Col{
	color:white;
}


